name: Apply Auth0 Changes

on:
  push:
    branches: ["master"]
    paths:
      - "apps/**/*.yaml"

jobs:
  apply:
    runs-on: ubuntu-latest

    env:
      TF_VAR_auth0_domain:        ${{ secrets.AUTH0_DOMAIN }}
      TF_VAR_auth0_client_id:     ${{ secrets.AUTH0_CLIENT_ID }}
      TF_VAR_auth0_client_secret: ${{ secrets.AUTH0_CLIENT_SECRET }}

    steps:
      - uses: actions/checkout@v4

      - name: Install yq
        run: |
          sudo apt-get update
          sudo apt-get install -y yq

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -input=false

      - name: Terraform Apply
        run: terraform apply -input=false -auto-approve
