name: Publish Auth0 Registration

on:
  push:
    branches: [main]
    paths:
      - "apps/**/*.yaml"
      - "apps/**/*.yml"

  workflow_dispatch:
    inputs:
      file:
        description: "Optional: apps/<file>.yaml"
        required: false
        type: string

permissions:
  contents: read

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      org: ${{ steps.meta.outputs.org }}
      app: ${{ steps.meta.outputs.app }}
      env: ${{ steps.meta.outputs.env }}
      yaml_b64: ${{ steps.encode.outputs.yaml_b64 }}
      yaml_path: ${{ steps.pick.outputs.file }}
      src_repo: ${{ github.repository }}
      src_sha: ${{ github.sha }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Pick YAML file
        id: pick
        shell: pwsh
        run: |
          $ErrorActionPreference = "Stop"

          if ("${{ github.event_name }}" -eq "workflow_dispatch" -and "${{ inputs.file }}") {
            $file = "${{ inputs.file }}"
          } else {
            $before = "${{ github.event.before }}"
            if (-not $before -or $before -eq "0000000000000000000000000000000000000000") {
              $before = "$(git rev-parse HEAD~1)"
            }
            $file = git diff --name-only $before ${{ github.sha }} |
              Where-Object { $_ -match '^apps/.*\.ya?ml$' } |
              Select-Object -First 1
          }

          if (-not $file) { throw "No apps YAML file found." }

          "file=$file" >> $env:GITHUB_OUTPUT

      - name: Read metadata
        id: meta
        shell: pwsh
        run: |
          Install-Module powershell-yaml -Scope CurrentUser -Force
          $obj = Get-Content "${{ steps.pick.outputs.file }}" -Raw | ConvertFrom-Yaml

          "org=$($obj.orgname)" >> $env:GITHUB_OUTPUT
          "app=$($obj.app)" >> $env:GITHUB_OUTPUT
          "env=$($obj.env)" >> $env:GITHUB_OUTPUT

      - name: Base64 encode YAML
        id: encode
        shell: pwsh
        run: |
          $bytes = [IO.File]::ReadAllBytes("${{ steps.pick.outputs.file }}")
          $b64 = [Convert]::ToBase64String($bytes)
          "yaml_b64=$b64" >> $env:GITHUB_OUTPUT

  call-auth0:
    needs: prepare
    uses: rajiastate-iam/auth0-apps/.github/workflows/reusable-receive-app.yml@master
    with:
      org: ${{ needs.prepare.outputs.org }}
      app: ${{ needs.prepare.outputs.app }}
      env: ${{ needs.prepare.outputs.env }}
      yaml_b64: ${{ needs.prepare.outputs.yaml_b64 }}
      yaml_path: ${{ needs.prepare.outputs.yaml_path }}
      src_repo: ${{ needs.prepare.outputs.src_repo }}
      src_sha: ${{ needs.prepare.outputs.src_sha }}
